<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Pagina Inicial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>CABECERA</header>
        <section>
                <p>NOMBRE PAGINA</p>
        </section>
        <main>
            <section>
                <p>Nombre Usuario</p>
                <p>Contraseña</p>
            </section>
            <section>
                 <input type="button" value="Enviar"/>
                 <a href="2.html">Registrate</a>
            </section>
        </main>
      
    </body>
</html>
