<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Registrate</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>CABECERA</header>
        <section>
                <p>NOMBRE PAGINA</p>
        </section>
        <main>
            <section>
                <p>Nombre</p>
                <p>Apellidos</p>
                <p>Usuario</p>
                <p>Contraseña</p>
                <p>Email</p>
                <p>Sexo</p>
                <p>Fecha de Nacimiento</p>
                <label>Subir foto</label>
                <input type="file" name="adjunto" />
            </section>
            <section>
                 <input type="button" value="Aceptar"/><br/>
            </section>
        </main>
    </body>
</html>
